* {
	font-family: Helvetica;
	text-align: center;
}

h1 {
	font-size: 70px;
	color: white;
}

a {
	color: white;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

.nav {
	font-size: 18px;
}

.header {
	background-image: url("../images/flatiron.png");

}

#designed-in {
	color: white;
	background-image: url("../images/flatiron.png");
}

#footer {
	text-align: left;
	background-color: dimgray;
	color: white;
}

#copyright {
	font-size: 11px;
}
